.body {
    background-color: cornflowerblue;
}

.header {
    display: flex;
    justify-content: center;
    flex-basis: 95%;
    background-color: darkgrey;
}

.img-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.congress-img {
    padding: 5px;
    background-color: darkgoldenrod;
}

.basic-info {
    font-size: 2em;
    padding: 5px;
    background-color:darkgoldenrod;
}

.committee-header {
    display: flex;
    justify-content: center;
}
.committees {
    display: flex;
    list-style-type: none;
    justify-content:space-between;
    flex-direction: row;
}

.committees-list {
    margin-left: 5px;
    margin-right: 5px;
}

.legislation-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-p {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}